*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Roboto' sans-serif;
	background: #13B7F7;	
	
}
.hero{
   width: 100%;
   height: 70px;
   display: flex;
   justify-content: space-between;
   overflow: hidden;
}

.hero-logo{
	margin: 5px;
	padding: 5px;
	width: 300px;
	height: 30px;
	border-radius: 10px;
	border: 2px solid #F4D91A;
	background: #D96628;

}

.logo{
	font-size: 30px;
	color: beige;
	 font-weight: bold;
	
}
.navbar-nav{
	padding: 5px;
	margin: 5px;
}
.nav-link{
	text-decoration: none;
	font-size: 26px;
	font-weight: bold;
	color: beige;
    padding: 5px;
	margin: 5px;
}

.main{
   width: 100%;
   height: 100vh;
   border: 2px solid brown;
   overflow: hidden;
}

.content-a{
	display: flex;
	justify-content: space-around;
}
.card-content{
	width: 350px;
	height: 600px;
	background: white;
	border: 2px solid #1E4A35;
	border-radius: 10px;
	
}
.content{
	
	margin: 10px;
	padding: 10px;
	list-style: none;
	display: inline-block;
}

.content-link{
    margin: 10px;
	padding: 10px;
	text-decoration: none;
}


