<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  
   <div class="content">
      <canvas  id="canvas">


   </canvas>
   </div>
   <div class="color">
     <div onclick="colores(this)" class="color-field" style="background: red;" >
     </div>
     <div onclick="colores(this)" class="color-field" style="background: green;" ></div>
     <div onclick="colores(this)" class="color-field" style="background: yellow;" ></div>
     <div onclick="colores(this)" class="color-field" style="background: orange ;" ></div>
     <div onclick="colores(this)" class="color-field" style="background: blue;" ></div>
     <div onclick="colores(this)" class="color-field" style="background: purple;" ></div>
     <div onclick="colores(this)" class="color-field" style="background: pink;" ></div>
     <div onclick="colores(this)"class="color-field" style="background: brown;" ></div>
   </div>


<script src="../js/canvas.js">

</script>
</body>
</html>