<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>

   	<div class="container">
   	
   
   
     <section class="main">
     	<div class="card1 card circle">
     		<h2>Escritura</h2>
     	</div>
     	<div class="card2  card circle">
     		<img src="">
     		<h2>Coloreemos</h2>
     	</div>
     	<div class="card3  card circle">
     		<img src="">
     		<h2>Consonantes</h2>
     	</div>
     	<div class="card4  card circle">
     		<img src="">
     		<h2>Vocales</h2>
     	</div>
     </section>
   </div>
</body>
</html>