<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="../css/css.css">
</head>
<body>

  <header class="hero">
  	<div class="hero-logo">
  		<h1 class="logo">Software Educativo.<i class="fa-icon"></i></h1>
  	</div>
  	<nav class="navbar">
  		<div class="navbar-nav">
  			<a href="" class="nav-link">User</a>
  			<a href="" class="nav-link">Salir</a>
  		</div>
  	</nav>
  </header>
  <main class="main container">
   <section class="content">

   	<article class="content-a">
   		<div class="card-content">
   			
   		</div>
   		<div class="card-content">
   			
   		</div>
   	</article>
   		<div class="main-m">
  		<div class="circle">
  			
  		</div>
  		<div class="circle">
  			
  		</div>
  		<div class="circle">
  			
  		</div>
  	</div>
   </section>
  
  </main>
</div>
</body>
</html>