<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="../css/css.css">
</head>
<body>

  <header class="hero">
  	<div class="hero-logo">
  		<h1 class="logo">Software Educativo.<i class="fa-icon"></i></h1>
  	</div>
  	<nav class="navbar">
  		<div class="navbar-nav">
  			<a href="" class="nav-link">User</a>
  			<a href="" class="nav-link">Salir</a>
  		</div>
  	</nav>
  </header>
  <main class="">
   <section class="content-a">
   	 <article class="card-content">
   	 	<ul class="content">
   	 		<li class="link"><a href="" class="content-link">Vocales</a></li>
   	 		<li class="link"><a href="" class="content-link">Consonantes</a></li>
   	 		<li class="link"><a href="" class="content-link">Colorear</a></li>
   	 		<li class="link"><a href="" class="content-link">Escribir</a></s="link"><a href="" class="content-link">Silabas</a></li>
   	 	</ul>
   	 		
   	 
   	 </article>
   	 <article class="card-content">
   	 		<ul class="content">
   	 		<li class="link"><a href="" class="content-link">Vocales</a></li>
   	 		<li class="link"><a href="" class="content-link">Consonantes</a></li>
   	 		<li class="link"><a href="" class="content-link">Colorear</a></li>
   	 		<li class="link"><a href="" class="content-link">Escribir</a></li>
   	 		<li class="link"><a href="" class="content-link">Silabas</a></li>
   	 	</ul>
   	 </article>
   </section>
  
  </main>

</body>
</html>